.responsive-iframe {
    width: 100%;
    width: 1000px; /* Optional: restrict maximum width if needed */
    height: 700px; /* Adjust this value to make space for the button */
    border: none;
    margin-bottom: 20px; /* Optional: add some space at the bottom */
}


/* Styles for feedback messages */
.feedback-correct {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.feedback-incorrect {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.challenge-feedback-correct {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.challenge-feedback-incorrect {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.feedback-warning {
  background-color: #f9e79f;
  padding: 15px;
  border-radius: 5px;
  color: #7d6608;
}

/* Button styles */
.btn-hint {
  background-color: #5bc0de;
  color: white;
}

.btn-solution {
  background-color: #5cb85c;
  color: white;
}

.btn-run {
  background-color: #0275d8;
  color: white;
}

.btn-check {
  background-color: #f0ad4e;
  color: white;
}

.btn-submit {
  background-color: #d9534f;
  color: white;
}
